<drawer></drawer>
<template-segmentations></template-segmentations>
<!--<div fxLayout="column" style="max-width: 1366px;margin: 0 auto;">  
    <mat-sidenav-container fullscreen>
      <mat-sidenav style="direction:ltr;"
                   #drawer 
                   class="MyDrawer" 
                   mode="over" 
                   style="height:300px;width: 300px;background-color: chartreuse;color:black"
                   [(opened)]="bopen">
        <drawer-content #drawerContent></drawer-content>
      </mat-sidenav>
  
      
      
      
      
    </mat-sidenav-container>
  </div>-->

  <!---

  <mat-sidenav-container fullscreen>
    <mat-sidenav
      #sidenav
      mode="push"
      class="example-sidenav"
      opened="true"
     
    >
      <div class="logomain" style="width:400px;z-index:1000">Logo Part</div>
    </mat-sidenav>

    <mat-sidenav-content>
      <h1>Hagai</h1>
      <button (click)="sidenav.toggle()">Open</button>
    </mat-sidenav-content>
  </mat-sidenav-container>

-->