<html>
    <head>
    </head>
    <body>
        <script type="text/javascript">
            var location = '{{ location }}';
            const missing_files_from_main_str = '{{ missing_files_from_main|tojson }}';
            const missing_files_from_ref_str = '{{ missing_files_from_ref|tojson }}';
            const missing_files_from_main_arr = missing_files_from_main_str.replace(/[\[\]"\s+]/g,'').split(',');
            const missing_files_from_ref_arr = missing_files_from_ref_str.replace(/[\[\]"\s+]/g,'').split(',');
            var message = ''; 

            if(missing_files_from_main_arr.length > 0)
            {
                message += "Reports in reference folder without matching reports in main folder: \n";
                for (var i = 0; i < missing_files_from_main_arr.length; i++) {
                    message += missing_files_from_main_arr[i] + "\n";}
            };

            if(missing_files_from_ref_arr.length > 0)
            {
                message += "Reports in main folder without matching reports in reference folder: \n"
                for (var i = 0; i < missing_files_from_ref_arr.length; i++) {
                    message += missing_files_from_ref_arr[i] + "\n";}
            }

            alert(message);
        </script>
    </body>
</html>