<div *ngIf="dropdownList.length > 0" [class.dropdown-open]="isDropdownOpen" class="dropdown-wrapper" #dropdown>
    <ng-multiselect-dropdown
        appClickOutside
        [viewguid]="viewguid"
        [viewId]="viewId"
        [segmentName]="name"
        [placeholder]="name"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selected"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onUnSelect($event)"
        (onDeSelectAll)="onUnSelectAll($event)"
        (click)="onClick()"
    >
    </ng-multiselect-dropdown>
</div>