::ng-deep .template-selection .mat-grid-tile-content {
    justify-content: left !important;
}

select:focus { 
    outline: none !important;
}

input:focus { 
    outline: none !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #182a69;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #182a69;
}