<div>
    <!-- HEADER (TODO: REMOVE IT TO A SEPARATE COMPONENT) -->
    
    <div style="width:100%;
                height:50px;
                border:1px solid lightgray;
                border-radius: 4px;
                color:#182a69;
                background-color: #fafafa;">

        <div class="template-selection" style="width:600px;margin-left: 10px;padding-top: 5px;">
            <mat-grid-list cols="3" rowHeight="40px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <select 
                        [(ngModel)]="statService.selectedTamplate"
                        style="height: 29px; width:95%;border-color:lightgray;border-radius: 3px;"
                        (change)="onTemplateSelected($event)"
                        >
                        <option *ngFor="let t of statService.templateNameOptions"
                                        value="{{t.key}}"
                                >{{t.value}}</option>
                    </select>
                </mat-grid-tile>
                
                <ng-container *ngIf="isNewTemplateMode">
                    <mat-grid-tile  [colspan]="1" [rowspan]="1">
                        <input type="text" 
                            placeholder="Template Name"
                            [(ngModel)]="templateNameCreated"
                            style="height:25px;width:95%;border:1px solid lightgray;border-radius: 3px;padding-left: 3px;"
                            >
                    </mat-grid-tile>
                </ng-container>
                <mat-grid-tile  [colspan]="1" [rowspan]="1">
                    <div class="save-icon">
                        <img src="assets/save-icon.svg" style="width: 33px;height:33px;margin-top: 3px;cursor: pointer;" title="Save Template"
                        (click)="saveTemplate()">
                    </div>
                    <div>
                        <mat-slide-toggle [(ngModel)]="statService.calculateUnique" (change)="slideUniqueChange($event)">Calculate Unique</mat-slide-toggle>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <!-- SEGMENTATIONS -->
    <div style="margin-top:3px">
        
            <ng-container *ngFor="let x of statService.currentTemplate.Segmentations;let i = index">
                <button class="collapsible" (click)="clickPanel(i)" [ngClass]="getActiveCls(i)">View {{ getTitle(i) }}</button>
                    <div class="content" [ngStyle]="{'max-height':getHeight(i)}">
                        <pkl-view 
                            [selectedRowsSet] = "x.rows"
                            [selectedColumnsSet] = "x.columns"
                            [name] = "x.name"
                            [id] = i
                        >
                        </pkl-view>          
                    </div>  
            </ng-container>
    </div>
</div>
<div>
    <button style="left:5px;top:10px;background-color: lightgray;font-weight: bold;color: #182a69 !important;;" 
            mat-raised-button 
            (click)="addView()">Add View</button>
</div>
