<div class="parent" style="border:1px solid lightgray;padding: 3px;">
    <div *ngIf="loadCounter > 0">
        <img src="assets/spinner-90-ring-with-bg.svg" style="width:40px;height:40x" />
    </div>
    <div style="width:99.6%;padding:3px;border:solid 1px lightgray;
                border-radius: 4x !important;margin-top: 3px;
                color:#182a69;background-color:#fafafa"
         class="pkl-view-header">
            <div style="width:800px">
                <table >
                    <tr>
                        <td style="width:100px" class="caption">View Name</td>
                        <td style="width:700px"><input type="text" 
                            [ngModel]="name"
                            (change)="onViewNameChanged($event)"
                            style="padding-left:5px;height:33px;width:98%;border:1px solid lightgray;border-radius: 3px;"
                            > 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px" class="caption">Rows</td>
                        <td style="width:700px">
                            <segmentations 
                                style="width:100%;background-color: white;"
                                name="" 
                                [selectItems]="selectedRows"
                                (segmentsChanged)="onRowsChanged($event)">
                            </segmentations>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px" class="caption">Columns</td>
                        <td style="width:700px">
                            <segmentations 
                                style="width:100%;background-color: white;margin-top: 2px;"
                                name="" 
                                [selectItems]="selectedColumns"
                                (segmentsChanged)="onColumnsChanged($event)">
                            </segmentations>
                        </td>
                    </tr>
                </table>
            </div>
        <!--<mat-grid-list cols="4" rowHeight="45px" style="width: 50%;max-width: 800px;">
            <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <div class="caption">View Name</div>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="3" [rowspan]="1">
                <input type="text" 
                        [ngModel]="name"
                        (change)="onViewNameChanged($event)"
                        style="height:33px;width:98.5%;border:1px solid lightgray;border-radius: 3px;"
                        > 
            </mat-grid-tile>

            <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <div class="caption">Rows</div>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="3" [rowspan]="1">
                <segmentations 
                    style="width:100%;background-color: white;"
                    name="" 
                    [selectItems]="selectedRows"
                    (segmentsChanged)="onRowsChanged($event)">
                </segmentations>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <div class="caption">Columns</div>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="3" [rowspan]="1">
                <segmentations 
                    style="width:100%;background-color: white;"
                    name="" 
                    [selectItems]="selectedColumns"
                    (segmentsChanged)="onColumnsChanged($event)">
                </segmentations>
            </mat-grid-tile>
         </mat-grid-list>-->
    </div>
    <iframe (load)="onlaod()" 
            style="display:block; width:100%; height:400px;margin-top: 3px;"
            [src]="url | safe">
    </iframe>
    <div style="height:50px">
        <button style="left:5px;top:10px;background-color: white;font-weight: bold;color: red !important;;" 
                mat-raised-button 
                (click)="removeView()">Remove View</button>
    </div>
</div>