<style>
.header{
  padding: 5px;
  text-align: center;
  color: #3e8e41;
  font-size: 13px;
}
ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}

</style>
<script>
window.onload = function  () {
	var li_ul = document.querySelectorAll(".col_ul li  ul");
    for (var i = 0; i < li_ul.length; i++) {
        li_ul[i].style.display = "none"
    };

    var exp_li = document.querySelectorAll(".col_ul li > span");
    for (var i = 0; i < exp_li.length; i++) {
        exp_li[i].style.cursor = "pointer";
        exp_li[i].onclick = showul;
    };
    function showul () {
        nextul = this.nextElementSibling;
        if(nextul.style.display == "block")
            nextul.style.display = "none";
        else
            nextul.style.display = "block";
    }
}
</script>

    <div class="header" style="text-align: left; overflow: hidden; position:relative;">

              <h1 style="font-family: Arial, Helvetica, sans-serif;"> Examples for {{state}} </h1>
                {% for cl in cl_and_choice: %}
              <h3 style="font-family: Arial, Helvetica, sans-serif;white-space:nowrap; display: inline-block;"> {{cl}} = {{cl_and_choice[cl]}} </h3>
                {%endfor%}
    </div>

<div style="position:relative;">
<form action="/update_list?mytup={{mytup}}" method="post">
<button type="submit"> Save list </button>
</form>
{% if save_path:%}
<p style="font-family: Arial, Helvetica, sans-serif;"> list was saved to: <br>
    {{save_path}} </p>
{%endif%}
</div>

<div style="position:relative;top: 0px; left: 0px;">
    <ul class="col_ul">
        {% for vid_key in per_video_example_hash: %}
            <li>
                <span style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;">{{vid_key}}</span>
                <ul>
                   {% for frame_key in per_video_example_hash[vid_key]: %}
                    <li >
                        <span style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;"> Frame # {{frame_key}}</span>
                        <ul>
                            {% for example_name in per_video_example_hash[vid_key][frame_key]: %}
                           <li><a style="font-family: Arial, Helvetica, sans-serif;" target="iframe3" href="/show_im?example_name={{example_name}}"> Index # {{example_name[1]}}</a> </li>
                            {%endfor%}
                        </ul>
                    </li>
                    {%endfor%}
                </ul>
            </li>
        {%endfor%}
    </ul>
</div>