

<div class="header" style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
    <div class="col-12">
          <h3 style="color: #3e8e41;"> <B>Help</B> </h3>
    </div>
</div>
<p style="font-family: Arial, Helvetica, sans-serif;">
<b>Configuration Name:</b> A configurations file with this name will be saved at "...\statistics_tool\configs"
<br><br>
<b>File Reading Function:</b> A function that responsible for a few aspects of reading the input files, in order to implement a new one
follow the instructions in "...\statistics_tool\user_defined_functions\ReadingFunctions.py"
<br><br>
<b>Overlap Function:</b> An overlap function (e.g IOU, DICE), in order to implement a new one
follow the instructions in "...\statistics_tool\user_defined_functions\OverlapFunctions.py"
<br><br>
<b>Threshold:</b> A number between 0-1 that indicates the minimum overlap between a prediction and a label to be considered a TP
<br><br>
<b>Evaluation Function:</b> A function that match predictions and labels, in order to implement a new one
follow the instructions in "...\statistics_tool\user_defined_functions\EvaluationFunctions.py"
<br><br>
<b>Statistics Functions:</b> A statistical function (e.g Precision, Recall), in order to implement a new one
follow the instructions in "...\statistics_tool\user_defined_functions\StatisticsFunctions.py"
<br><br>
<b>Partitioning Functions:</b> A function that partition the data into groups (e.g Day/Night, Car/Bus/Motorcycle), in order to implement a new one
follow the instructions in "...\statistics_tool\user_defined_functions\PartitioningFunctions.py"

</p>