<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>StatToolAngularApp</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.0f9e35cd8bb6dd7c.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.0f9e35cd8bb6dd7c.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.8529bcdecdc9eb5f.js" type="module"></script><script src="polyfills.26ab8923a3f6e94d.js" type="module"></script><script src="main.f7ec7f1741a63799.js" type="module"></script>

</body></html>