<style>
input[type=submit]{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 23px 32px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

input[type=submit]:hover {
  background-color: #4CAF50;
  color: white;
  }

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      padding: 23px 32px;
      background-color: white;
      color: black;
      border: 2px solid #4CAF50;
}
a.button:hover {
  background-color: #4CAF50;
  color: white;
  }
</style>


<div class="row">
     <div class="header" style="text-align: left; color: #3e8e41;">
        <div class="col-12">
                  <h3 style="font-family: Arial, Helvetica, sans-serif;"> Add New Task Configurations  </h3>
        </div>
     </div>
</div>



<form name="form5" id="form5" target="_parent" action="/create_new_report?add_config=add_config"  method="POST" style="text-align: left" >
<table>
        <tr>
                <td><label style="font-family: Arial, Helvetica, sans-serif;" for="18">Configuration Name:</label></td>
                <td><input type="text" id="18" name="name" required></td>
        </tr>

        <tr>
                <td><label style="font-family: Arial, Helvetica, sans-serif;" for="21">Log Names to Evaluate:</label></td>
                <td>
                <input type="text" id="21" name="log_names_to_evaluate" >
                </td>
        </tr>


        <tr>
                <td><label style="font-family: Arial, Helvetica, sans-serif;"> File Reading Function:</label></td>
                <td>
                        <select name="Reading_func" style ="background-color:#4CAF50; width:100%;max-width:100%;">
                        {% for func in file_reading_funcs: %}
                        <option value="{{func}}"> {{func}} </option>
                        {%endfor%}
                        </select>
                </td>
        </tr>

        <tr>
                <td><label style="font-family: Arial, Helvetica, sans-serif; width:100%;max-width:100%;"> Overlap Function: </label></td>
                <td>
                        <select name="overlap_func" style ="background-color:#4CAF50;">
                        {% for func in overlap_funcs: %}
                        <option value="{{func}}"> {{func}} </option>
                        {%endfor%}
                        </select>
                </td>
        </tr>
        <tr>
                <td><label style="font-family: Arial, Helvetica, sans-serif; width:100%;max-width:100%;"> Transform Function(Empty for None): </label></td>
                <td>
                        <select name="transform_func" style ="background-color:#4CAF50;">
                        {% for func in transformation_funcs: %}
                        <option value="{{func}}"> {{func}} </option>
                        {%endfor%}
                        </select>
                </td>
        </tr>
        <tr>
                <td><label style="font-family: Arial, Helvetica, sans-serif;" for="17">Threshold:</label></td>
                <td>
                <input type="text" id="17" name="Threshold" required>
                </td>
        </tr>

        <tr>
               <td><label style="font-family: Arial, Helvetica, sans-serif; width:100%;max-width:100%;">  Evaluation Function:</label></td>
               <td>
                        <select name="evaluation_func"  style ="background-color:#4CAF50;">
                        {% for func in Evaluation_funcs: %}
                        <option value="{{func}}"> {{func}} </option>
                        {%endfor%}
                        </select>
                </td>

        </tr>
</table>
<hr>
<table style="width: 350px">
        <tr>
                <td><label style="font-family: Arial, Helvetica, sans-serif; width:100%;max-width:100%;"> Statistics Functions:</label></td>
                <td>
                        <select name="statistics_func" style ="background-color:#4CAF50;">
                        {% for func in statistics_funcs: %}
                        <option value="{{func}}"> {{func}} </option>
                        {%endfor%}
                        </select>
                </td>
        </tr>
         <tr>

               <td><label style="font-family: Arial, Helvetica, sans-serif; width:100%;max-width:100%;"> Partitioning Functions:</label></td>
               <td>
                        <select name="partitioning_func" style ="background-color:#4CAF50;">
                        {% for func in partition_funcs: %}
                        <option value="{{func}}"> {{func}} </option>
                        {%endfor%}
                        </select>
               </td>
        </tr>


</table>
<br>
<a href="/create_new_report" target="_parent" class="button" > Back </a>
<a href="/Help" target="help_iframe" class="button" > Help </a>
<input type="submit" value="Add">
</form>


