<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function calculateReport() {
        var form = document.getElementById('myform');
        var iframe = document.getElementById("message_iframe")
        iframe.contentWindow.document.open(); 
        iframe.contentWindow.document.write("calculating...");         
        iframe.contentWindow.document.close()

        var x = document.getElementById("myDIV");
        form.onsubmit = function() {
        form.target = 'message_iframe';
        form.action = 'calculating_page';
            if (x.style.display === "none") {
            x.style.display = "block";
        }
  };
 }


  function showConfiguration(){
    
    var url = 'new_report/show_config?codice=${item.key.codice}&Configuration='+document.getElementById('Configuration').value;
    $.get(url, function(responseText) {
        $("#add_config_iframe").contents().find("body").html(''); 
        $('#add_config_iframe').attr("srcdoc", responseText);
    });
  };

  function onConfgurationChange(){
    showConfiguration();
  }

  $( document ).ready(function() {
    showConfiguration();
});

</script>
<style>
input[type=submit]{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 23px 32px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

input[type=submit]:hover {
  background-color: #4CAF50;
  color: white;
  }

</style>
<div class="row">
        <div>
                        <form action="/" style="position:absolute; top: -5px; left: 0px;">
                        <input type="submit" value="Back"/>
                        </form>
        </div>

        <div class="header" style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
            <div class="col-12">
                  <h1 style="color: #3e4a8e;"> <B>Statistics-Tool</B> </h1>
                    <a href="{{wiki_page}}" target="_blank" rel="noopener noreferrer">Statistics-Tool Wiki..</a>
                <hr>
            </div>
        </div>
<br>
     <div class="header" style="text-align: left; color: #3e8e41;">
        <div class="col-12">
              <h3 style="font-family: Arial, Helvetica, sans-serif;"> Run New Report </h3>
        </div>
     </div>
</div>




<div class="row">
    <div id="first" class="col-4">
        <form id="myform"  method="POST" style="text-align: center">
            <table>
            <tr>

                <td>    <label style="font-family: Arial, Helvetica, sans-serif;"> Task Configuration: </label> </td>

                <td>
                    <select id="Configuration" 
                            name="Configuration" 
                            value="${item.value}" 
                            onchange="onConfgurationChange()"
                            style ="background-color:#4CAF50; font-family: Arial, Helvetica, sans-serif; 
                            width:100%;max-width:100%;">
                        {% for config in possible_configs: %}
                        <option value="{{config}}"> {{config}} </option>
                        {%endfor%}
                    </select>
                </td>
                <td><a style="cursor: pointer;text-decoration: underline;"
                        onclick="showConfiguration();"> Show </a></td>
                <td> / </td>
                <td><a href="/new_report/add_config" action="/new_report/add_config" target="add_config_iframe"> Add </a></td>

            </tr>

            <tr>
                 <td><label for="1" style="font-family: Arial, Helvetica, sans-serif;">Predictions Directory (Local directory or blob folder):</label></td>
                 <td> <input type="text" SIZE="30" id="1" name="Predictions Directory" required> </td>
            </tr>

            <tr>
                <td><label for="2" style="font-family: Arial, Helvetica, sans-serif;">Ground Truth Directory (Leave blank if GT is from annotation store):</label></td>
                <td><input type="text" SIZE="30" id="2" name="Ground Truth Directory"></td>
            </tr>
            <tr>
                <td><label for="3" style="font-family: Arial, Helvetica, sans-serif;">Reporter Output Directory:</label></td>
                <td><input type="text" SIZE="30" id="3" name="Reporter Output Directory" required></td>
            </tr>

            <tr>
                <td><input type="submit" name="calculate" value="Run" onclick="calculateReport()"></td>
            </tr>

            </table>
        </form>
        <br>
        <br>
    </div>

    <div id="second" name="second" class="col-4">
        <iframe  name="add_config_iframe" id="add_config_iframe" frameborder="0" 
                style="position:absolute; 
                    top: 200px; 
                    left: 790px;
                    border:1px solid #3e8e41;
                    border-radius: 2px;
                    background-color: lightgray;                    
                    " 
                    height="500" 
                    width="450" >
        </iframe>
    </div>

</div>


<div  id="myDIV" style="display:none;">
    <iframe id="message_iframe" name="message_iframe" frameborder="0" srcdoc="<p>Calculating...</p>" style=" position:relative; top: -120px; left: 170px;" height="500" width="500" > </iframe>
</div>



<div>
    <iframe name="help_iframe" frameborder="0" style=" position:relative; top: -315px; left: 1170px;" height="700" width="700" > </iframe>
</div>