<h3 style=" font-family: Arial, Helvetica, sans-serif; text-align: left; color: #3e8e41;"> {{config_name}} Configurations </h3>


<table style="font-family: Arial, Helvetica, sans-serif;">

    <tr>
        <td>Task Configuration:</td>
        <td>{{config_name}}</td>

    </tr>

    <tr>
        <td>File Reading Function: </td>
        <td>{{config_dict["File Reading Function"]}} </td>

    </tr>

    <tr>
        <td>Overlap Function: </td>
        <td>{{config_dict["Overlap Function"]}} </td>
    </tr>

    <tr>
        <td>Threshold: </td>
        <td>{{config_dict["Threshold"]}} </td>
    </tr>

    <tr>
        <td>Image Width: </td>
        <td>{{config_dict["Image Width"]}} </td>
    </tr>

    <tr>
        <td>Image Height: </td>
        <td>{{config_dict["Image Height"]}} </td>
    </tr>

    <tr>
        <td>Evaluation Function: </td>
        <td>{{config_dict["Evaluation Function"]}} </td>
    </tr>
</table>

<hr>
<table style="font-family: Arial, Helvetica, sans-serif;">
    <tr>
        <td>Statistics Functions: </td>
        <td>{{config_dict["Statistics Functions"]}} </td>
    </tr>

    <tr>
        <td>Partitioning Functions: </td>
        <td>{{config_dict["Partitioning Functions"]}} </td>
    </tr>
</table>