{% from "macros.html" import stat_print %}

<table id="table1">
       <head>
                <style>
                table {
                  border: 5px solid white;
                }

                th, td {
                  text-align: left;
                  padding: 18px;
                  font-family: Arial;
                }

                tr:nth-child(even){background-color: #f2f2f2}

                th {
                  background-color: #4CAF50;
                  color: white;
                  font-family: Arial;
                }
                </style>
                 <meta name="viewport" content="width=device-width, initial-scale=1.0">
       </head>



               {% if seg_num==0:%}
              <tr>
                    {% for stat_name in stats:%}
                        
                            <th> {{stat_name}} </th>
                        
                    {%endfor%}
              </tr>
              <tr>
                    {% for stat_name in stats:%}
                        
                        
                        <td>
                            <div>
                                {{stat_print(stats, "", "", "", stat_name, unique_stats, False)}}
                            </div> 
                            {%if stats_ref:%}
                                <div>
                                    {{stat_print(stats_ref, "", "", "", stat_name, unique_stats_ref, True)}}
                                    <br>
                                </div>
                            {%endif%}
                        </td>
                        
                    {%endfor%}
              </tr>




               {% elif seg_num==1:%}
               <tr>
                    <th> Category </th>
                    <th> Statistics </th>
               </tr>
                    {% for row_name in rows:%}
                        <tr>
                            <th> {{row_name}} </th>
                                <td>
                                    {% for name in statistics_names:%}
                                        {{stat_print(stats, row_name, "", "", name, unique_stats, False)}}
                                        {%if stats_ref:%}
                                            {{stat_print(stats_ref, row_name, "", "", name, unique_stats_ref, True)}}
                                            <br>
                                        {%endif%}
                                    {%endfor%}
                                </td>
                        </tr>
                    {%endfor%}



               {% elif seg_num==2:%}
               <tr>
                    <th> </th>
                    {% for col_name in columns:%}
                        <th>{{col_name}}</th>
                    {%endfor%}
               </tr>

                  {% for row_name in rows:%}

                        <tr>
                        <th> {{row_name}} </th>
                        <td>
                            {% for name in statistics_names:%}
                                    {{stat_print(stats, row_name, columns[0], "", name, unique_stats, False)}}
                                    {%if stats_ref:%}
                                    {{stat_print(stats_ref, row_name, columns[0], "", name, unique_stats_ref, True)}}
                                    <br>
                                    {%endif%}   
                            {%endfor%}
                        </td>
                        {% for i in range(1, columns|length):%}
                            <td>
                            {% for name in statistics_names:%}
                                {{stat_print(stats, row_name, columns[i], "", name, unique_stats, False)}}
                                {%if stats_ref:%}
                                {{stat_print(stats_ref, row_name, columns[i], "", name, unique_stats_ref, True)}}
                                <br>
                                {%endif%}
                            {%endfor%}

                            </td>

                        {%endfor%}
                        </tr>
                  {%endfor%}



               {% else: %}

               <tr>
                    <th> </th>
                    <th>  </th>
                    {% for col_name in columns:%}
                        <th>{{col_name}}</th>
                    {%endfor%}
               </tr>

                  {% for row_name in rows:%}

                  <tr>

                        <th rowspan={{sub_rows|length}}>  {{row_name}} </th>
                        <td style=" background-color: #4CAF50; color: white;"> {{sub_rows[0]}} </td>
                        {% for i in range(columns|length): %}
                        <td>
                            {% for name in statistics_names: %}
                                {{stat_print(stats, row_name, columns[i], sub_rows[0], name,unique_stats, False)}}
                                {%if stats_ref:%}
                                {{stat_print(stats_ref, row_name, columns[i], sub_rows[0], name,unique_stats_ref, True)}}
                                <br>
                                {%endif%}
                            {%endfor%}
                        </td>
                        {%endfor%}


                        {% for j in range(1, sub_rows|length): %}
                            <tr>
                            <td style=" background-color: #4CAF50; color: white;"> {{sub_rows[j]}} </td>
                            {% for i in range(columns|length): %}


                                <td>
                            {% for name in statistics_names:%}
                                {{stat_print(stats, row_name, columns[i], sub_rows[j], name,unique_stats, False)}}
                                {%if stats_ref:%}
                                {{stat_print(stats_ref, row_name, columns[i], sub_rows[j], name,unique_stats_ref, True)}}
                                <br>
                                {%endif%}
                            {%endfor%}
                                </td>

                            {%endfor%}
                            </tr>
                        {%endfor%}
                  </tr>
                  {%endfor%}
               {%endif%}
</table>



<form action="/stats?primary={{primary}}&secondary={{secondary}}&tertiary={{tertiary}}" method="post">
<button type="submit"> Save table </button>
</form>

{% if save_path:%}
<p style="font-family: Arial, Helvetica, sans-serif;"> Table was saved to: <br>
    {{save_path}} </p>
{%endif%}