.multiselect-dropdown {
    width: 97% !important;
    margin:2px !important;
    background-color: #fafafa !important;
    border-color: lightgray;
}

.multiselect-dropdown .dropdown-btn {
    width: 97% !important;
    margin:2px !important;
    background-color: white !important;
    border-color: lightgray;
}

span.dropdown-btn {
    height: 28px !important;
}

*,
*::before,
*::after {
  box-sizing: content-box !important;
}

::-webkit-scrollbar {
    display: none;
}