<div style="height: 100vh;width: 100%;display: flex;">
    <div style="width:60%;height: 100vh;">
        <iframe
            style="display:block; width:100%; height:100vh;margin-top: 0px;border:none;"
            [src]="statToolService.getDrawerUpdateListUrl() | safe">
        </iframe>
    </div>
    <div style="width:40%;height: 100vh;">
        <iframe
            style="display:block; width:100%; height:100vh;margin-top: 0px;border:none;"
            [src]="statToolService.getDrawerShowImageUrl() | safe">
        </iframe>
    </div>
</div>
